In [1]:
# Import relevant packages

### YOUR CODE HERE ###

import pandas as pd
import numpy as np
from scipy import stats

In [2]:
# Use read_csv() to import your data

### YOUR CODE HERE ###

aqi = pd.read_csv('c4_epa_air_quality.csv')

In [3]:
# Explore your dataframe `aqi` here:

### YOUR CODE HERE ###

print("Use head() to show a sample of data")
print(aqi.head())

print("Use describe() to summarize AQI")
print(aqi.describe(include='all'))

print("For a more thorough examination of observations by state use values_counts()")
print(aqi['state_name'].value_counts())

print('for a more')

Use head() to show a sample of data
   Unnamed: 0  date_local    state_name   county_name      city_name  \
0           0  2018-01-01       Arizona      Maricopa        Buckeye
1           1  2018-01-01          Ohio       Belmont      Shadyside
2           2  2018-01-01       Wyoming         Teton  Not in a city
3           3  2018-01-01  Pennsylvania  Philadelphia   Philadelphia
4           4  2018-01-01          Iowa          Polk     Des Moines

                                     local_site_name   parameter_name  \
0                                            BUCKEYE  Carbon monoxide
1                                          Shadyside  Carbon monoxide
2  Yellowstone National Park - Old Faithful Snow ...  Carbon monoxide
3                             North East Waste (NEW)  Carbon monoxide
4                                          CARPENTER  Carbon monoxide

    units_of_measure  arithmetic_mean  aqi
0  Parts per million         0.473684    7
1  Parts per million         0.263158    5
2  Parts per million         0.111111    2
3  Parts per million         0.300000    3
4  Parts per million         0.215789    3
Use describe() to summarize AQI
        Unnamed: 0  date_local  state_name  county_name      city_name  \
count   260.000000         260         260          260            260
unique         NaN           1          52          149            190
top            NaN  2018-01-01  California  Los Angeles  Not in a city
freq           NaN         260          66           14             21
mean    129.500000         NaN         NaN          NaN            NaN
std      75.199734         NaN         NaN          NaN            NaN
min       0.000000         NaN         NaN          NaN            NaN
25%      64.750000         NaN         NaN          NaN            NaN
50%     129.500000         NaN         NaN          NaN            NaN
75%     194.250000         NaN         NaN          NaN            NaN
max     259.000000         NaN         NaN          NaN            NaN

       local_site_name   parameter_name   units_of_measure  arithmetic_mean  \
count              257              260                260       260.000000
unique             253                1                  1              NaN
top            Kapolei  Carbon monoxide  Parts per million              NaN
freq                 2              260                260              NaN
mean               NaN              NaN                NaN         0.403169
std                NaN              NaN                NaN         0.317902
min                NaN              NaN                NaN         0.000000
25%                NaN              NaN                NaN         0.200000
50%                NaN              NaN                NaN         0.276315
75%                NaN              NaN                NaN         0.516009
max                NaN              NaN                NaN         1.921053

               aqi
count   260.000000
unique         NaN
top            NaN
freq           NaN
mean      6.757692
std       7.061707
min       0.000000
25%       2.000000
50%       5.000000
75%       9.000000
max      50.000000
For a more thorough examination of observations by state use values_counts()
state_name
California              66
Arizona                 14
Ohio                    12
Florida                 12
Texas                   10
New York                10
Pennsylvania            10
Michigan                 9
Colorado                 9
Minnesota                7
New Jersey               6
Indiana                  5
North Carolina           4
Massachusetts            4
Maryland                 4
Oklahoma                 4
Virginia                 4
Nevada                   4
Connecticut              4
Kentucky                 3
Missouri                 3
Wyoming                  3
Iowa                     3
Hawaii                   3
Utah                     3
Vermont                  3
Illinois                 3
New Hampshire            2
District Of Columbia     2
New Mexico               2
Montana                  2
Oregon                   2
Alaska                   2
Georgia                  2
Washington               2
Idaho                    2
Nebraska                 2
Rhode Island             2
Tennessee                2
Maine                    2
South Carolina           1
Puerto Rico              1
Arkansas                 1
Kansas                   1
Mississippi              1
Alabama                  1
Louisiana                1
Delaware                 1
South Dakota             1
West Virginia            1
North Dakota             1
Wisconsin                1
Name: count, dtype: int64
for a more

HINT 1
HINT 2
HINT 3
Question 1: From preceding data exploration, what do you recognize?
You have county-level data for the first hypothesis.
Ohio and New York both have a higher number of observations to work with in this dataset.
Step 3. Statistical Tests
Before you proceed, recall the following steps for conducting hypothesis testing:

Formulate the null hypothesis and the alternative hypothesis.
Set the significance level.
Determine the appropriate test procedure.
Compute the p-value.
Draw your conclusion.
Hypothesis 1: ROA is considering a metropolitan-focused approach. Within California, they want to know if the mean AQI in Los Angeles County is statistically different from the rest of California.
Before proceeding with your analysis, it will be helpful to subset the data for your comparison.

In [4]:
# Create dataframes for each sample being compared in your test

### YOUR CODE HERE ###

ca_la = aqi[aqi['county_name']=='Los Angeles']
ca_other = aqi[(aqi['state_name']=='California') & (aqi['county_name']!='Los Angeles')]

HINT 2
HINT 3
Formulate your hypothesis:
Formulate your null and alternative hypotheses:

ùêª0: There is no difference in the mean AQI between Los Angeles County and the rest of California.

ùêªùê¥: There is a difference in the mean AQI between Los Angeles County and the rest of California.

In [5]:
# For this analysis, the significance level is 5%

significance_level = 0.05
significance_level

0.05

In [6]:
# Compute your p-value here

### YOUR CODE HERE ###

stats.ttest_ind(a=ca_la['aqi'], b=ca_other['aqi'], equal_var=False)

TtestResult(statistic=2.1107010796372014, pvalue=0.049839056842410995, df=17.08246830361151)

HINT 1
HINT 2
HINT 3
Question 2. What is your p-value for hypothesis 1, and what does this indicate for your null hypothesis?
With a p-value (0.049) being less than 0.05 (as your significance level is 5%), reject the null hypothesis in favor of the alternative hypothesis.

Therefore, a metropolitan strategy may make sense in this case.

Hypothesis 2: With limited resources, ROA has to choose between New York and Ohio for their next regional office. Does New York have a lower AQI than Ohio?
Before proceeding with your analysis, it will be helpful to subset the data for your comparison.

In [7]:
# Create dataframes for each sample being compared in your test

### YOUR CODE HERE ###

ny = aqi[aqi['state_name']=='New York']
ohio = aqi[aqi['state_name']=='Ohio']

## HINT 1
## HINT 2
## HINT 3
Formulate your hypothesis:
Formulate your null and alternative hypotheses:

ùêª0
: The mean AQI of New York is greater than or equal to that of Ohio.
ùêªùê¥
: The mean AQI of New York is below that of Ohio.
Significance Level (remains at 5%)
Determine the appropriate test procedure:
Here, you are comparing the sample means between two independent samples in one direction. Therefore, you will utilize a two-sample ùë°-test.

In [8]:
# Compute your p-value here

### YOUR CODE HERE ###

tstat, pvalue = stats.ttest_ind(a=ny['aqi'], b=ohio['aqi'], alternative='less', equal_var=False)
print(tstat)
print(pvalue)

-2.025951038880333
0.03044650269193468

HINT 1
HINT 2
HINT 3
Question 3. What is your p-value for hypothesis 2, and what does this indicate for your null hypothesis?
With a p-value (0.030) of less than 0.05 (as your significance level is 5%) and a t-statistic < 0 (-2.036), reject the null hypothesis in favor of the alternative hypothesis.

Therefore, you can conclude at the 5% significance level that New York has a lower mean AQI than Ohio.

Hypothesis 3: A new policy will affect those states with a mean AQI of 10 or greater. Will Michigan be affected by this new policy?
Before proceeding with your analysis, it will be helpful to subset the data for your comparison.

In [10]:
# Create dataframes for each sample being compared in your test

### YOUR CODE HERE ###

michigan = aqi[aqi['state_name']=='Michigan']

HINT 1
HINT 2
Formulate your hypothesis:
Formulate your null and alternative hypotheses here:

ùêª0
: The mean AQI of Michigan is less than or equal to 10.
ùêªùê¥
: The mean AQI of Michigan is greater than 10.
Significance Level (remains at 5%)
Determine the appropriate test procedure:
Here, you are comparing one sample mean relative to a particular value in one direction. Therefore, you will utilize a one-sample ùë°-test.

Compute the P-value

In [11]:
# Compute your p-value here

### YOUR CODE HERE ###

tstat, pvalue = stats.ttest_1samp(michigan['aqi'], 10, alternative='greater')
print(tstat)
print(pvalue)

-1.7395913343286131
0.9399405193140109

Question 4. What is your p-value for hypothesis 3, and what does this indicate for your null hypothesis?
With a p-value (0.940) being greater than 0.05 (as your significance level is 5%) and a t-statistic < 0 (-1.74), fail to reject the null hypothesis.

Therefore, you cannot conclude at the 5% significance level that Michigan's mean AQI is greater than 10. This implies that Michigan would most likely not be affected by the new policy.

Step 4. Results and Evaluation
Now that you've completed your statistical tests, you can consider your hypotheses and the results you gathered.

Question 5. Did your results show that the AQI in Los Angeles County was statistically different from the rest of California?
Yes, the results indicated that the AQI in Los Angeles County was in fact different from the rest of California.

Question 6. Did New York or Ohio have a lower AQI?
Using a 5% significance level, you can conclude that New York has a lower AQI than Ohio based on the results.

Question 7: Will Michigan be affected by the new policy impacting states with a mean AQI of 10 or greater?
Based on the tests, you would fail to reject the null hypothesis, meaning you can't conclude that the mean AQI is greater than 10. Thus, it is unlikely that Michigan would be affected by the new policy.

Conclusion
What are key takeaways from this lab?

Even with small sample sizes, the variation within the data is enough to allow you to make statistically significant conclusions. You identified at the 5% significance level that the Los Angeles mean AQI was stastitically different from the rest of California, and that New York does have a lower mean AQI than Ohio. However, you were unable to conclude at the 5% significance level that Michigan's mean AQI was greater than 10.

What would you consider presenting to your manager as part of your findings?

For each test, you would present the null and alternative hypothesis, then describe your conclusion and the resulting p-value that drove that conclusion. As the setup of t-test's have a few key configurations that dictate how you interpret the result, you would specify the type of test you chose, whether that tail was one-tail or two-tailed, and how you performed the t-test from stats.

What would you convey to external stakeholders?

In answer to the research questions posed, you would convey the level of significance (5%) and your conclusion. Additionally, providing the sample statistics being compared in each case will likely provide important context for stakeholders to quickly understand the difference between your results.

Congratulations! You've completed this lab. However, you may not notice a green check mark next to this item on Coursera's platform. Please continue your progress regardless of the check mark. Just click on the "save" icon at the top of this n

In [12]:
# Import packages for data manipulation
import pandas as pd
import numpy as np

# Import packages for data visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Import packages for statistical analysis/hypothesis testing
from scipy import stats

In [13]:
# Load dataset into dataframe
data = pd.read_csv("tiktok_dataset.csv")

Exemplar response:

In general, descriptive statistics are useful because they let you quickly explore and understand large amounts of data. In this case, computing descriptive statistics helps you quickly compute the mean values of video_view_count for each group of verified_status in the sample data.

Task 2. Data exploration
Use descriptive statistics to conduct Exploratory Data Analysis (EDA).

Hint:
Inspect the first five rows of the dataframe.

In [14]:
# Display first few rows
data.head()

,#,claim_status,video_id,video_duration_sec,video_transcription_text,verified_status,author_ban_status,video_view_count,video_like_count,video_share_count,video_download_count,video_comment_count
0,1,claim,7017666017,59,someone shared with me that drone deliveries a...,not verified,under review,343296.0,19425.0,241.0,1.0,0.0
1,2,claim,4014381136,32,someone shared with me that there are more mic...,not verified,active,140877.0,77355.0,19034.0,1161.0,684.0
2,3,claim,9859838091,31,someone shared with me that american industria...,not verified,active,902185.0,97690.0,2858.0,833.0,329.0
3,4,claim,1866847991,25,someone shared with me that the metro of st. p...,not verified,active,437506.0,239954.0,34812.0,1234.0,584.0
4,5,claim,7105231098,19,someone shared with me that the number of busi...,not verified,active,56167.0,34987.0,4110.0,547.0,152.0

In [15]:
# Generate a table of descriptive statistics about the data
data.describe()

,#,video_id,video_duration_sec,video_view_count,video_like_count,video_share_count,video_download_count,video_comment_count
count,19382.000000,1.938200e+04,19382.000000,19084.000000,19084.000000,19084.000000,19084.000000,19084.000000
mean,9691.500000,5.627454e+09,32.421732,254708.558688,84304.636030,16735.248323,1049.429627,349.312146
std,5595.245794,2.536440e+09,16.229967,322893.280814,133420.546814,32036.174350,2004.299894,799.638865
min,1.000000,1.234959e+09,5.000000,20.000000,0.000000,0.000000,0.000000,0.000000
25%,4846.250000,3.430417e+09,18.000000,4942.500000,810.750000,115.000000,7.000000,1.000000
50%,9691.500000,5.618664e+09,32.000000,9954.500000,3403.500000,717.000000,46.000000,9.000000
75%,14536.750000,7.843960e+09,47.000000,504327.000000,125020.000000,18222.000000,1156.250000,292.000000
max,19382.000000,9.999873e+09,60.000000,999817.000000,657830.000000,256130.000000,14994.000000,9599.000000

In [16]:
# Check for missing values
data.isna().sum()

#                             0
claim_status                298
video_id                      0
video_duration_sec            0
video_transcription_text    298
verified_status               0
author_ban_status             0
video_view_count            298
video_like_count            298
video_share_count           298
video_download_count        298
video_comment_count         298
dtype: int64

In [17]:
# Drop rows with missing values
data = data.dropna(axis=0)

In [18]:
# Display first few rows after handling missing values
data.head()

,#,claim_status,video_id,video_duration_sec,video_transcription_text,verified_status,author_ban_status,video_view_count,video_like_count,video_share_count,video_download_count,video_comment_count
0,1,claim,7017666017,59,someone shared with me that drone deliveries a...,not verified,under review,343296.0,19425.0,241.0,1.0,0.0
1,2,claim,4014381136,32,someone shared with me that there are more mic...,not verified,active,140877.0,77355.0,19034.0,1161.0,684.0
2,3,claim,9859838091,31,someone shared with me that american industria...,not verified,active,902185.0,97690.0,2858.0,833.0,329.0
3,4,claim,1866847991,25,someone shared with me that the metro of st. p...,not verified,active,437506.0,239954.0,34812.0,1234.0,584.0
4,5,claim,7105231098,19,someone shared with me that the number of busi...,not verified,active,56167.0,34987.0,4110.0,547.0,152.0

In [19]:
# Compute the mean `video_view_count` for each group in `verified_status`
### YOUR CODE HERE ###
data.groupby("verified_status")["video_view_count"].mean()

verified_status
not verified    265663.785339
verified         91439.164167
Name: video_view_count, dtype: float64

Task 3. Hypothesis testing
Before you conduct your hypothesis test, consider the following questions where applicable to complete your code response:

Recall the difference between the null hypothesis and the alternative hypotheses. What are your hypotheses for this data project?
Exemplar response:

Null hypothesis: There is no difference in number of views between TikTok videos posted by verified accounts and TikTok videos posted by unverified accounts (any observed difference in the sample data is due to chance or sampling variability).
Alternative hypothesis: There is a difference in number of views between TikTok videos posted by verified accounts and TikTok videos posted by unverified accounts (any observed difference in the sample data is due to an actual difference in the corresponding population means).
Your goal in this step is to conduct a two-sample t-test. Recall the steps for conducting a hypothesis test:

State the null hypothesis and the alternative hypothesis
Choose a signficance level
Find the p-value
Reject or fail to reject the null hypothesis
ùêª0
: There is no difference in number of views between TikTok videos posted by verified accounts and TikTok videos posted by unverified accounts (any observed difference in the sample data is due to chance or sampling variability).

ùêªùê¥
: There is a difference in number of views between TikTok videos posted by verified accounts and TikTok videos posted by unverified accounts (any observed difference in the sample data is due to an actual difference in the corresponding population means).

You choose 5% as the significance level and proceed with a two-sample t-test.

In [20]:
# Conduct a two-sample t-test to compare means
### YOUR CODE HERE ###

# Save each sample in a variable
not_verified = data[data["verified_status"] == "not verified"]["video_view_count"]
verified = data[data["verified_status"] == "verified"]["video_view_count"]

# Implement a t-test using the two samples
stats.ttest_ind(a=not_verified, b=verified, equal_var=False)

TtestResult(statistic=25.499441780633777, pvalue=2.6088823687177823e-120, df=1571.163074387424)

In [ ]:
Exemplar response:

Since the p-value is extremely small (much smaller than the significance level of 5%), you reject the null hypothesis. You conclude that there is a statistically significant difference in the mean video view count between verified and unverified accounts on TikTok.


PACE: Execute
Consider the questions in your PACE Strategy Document to reflect on the Execute stage.

Task 4. Communicate insights with stakeholders
Ask yourself the following question:

What business insight(s) can you draw from the result of your hypothesis test?
Exemplar response:

The analysis shows that there is a statistically significant difference in the average view counts between videos from verified accounts and videos from unverified accounts. This suggests there might be fundamental behavioral differences between these two groups of accounts.

It would be interesting to investigate the root cause of this behavioral difference. For example, do unverified accounts tend to post more clickbait-y videos? Or are unverified accounts associated with spam bots that help inflate view counts?

The next step will be to build a regression model on verified_status. A regression model is the natural next step because the end goal is to make predictions on claim status. A regression model for verified_status can help analyze user behavior in this group of verified users. Technical note to prepare regression model: because the data is skewed, and there is a significant difference in account types, it will be key to build a logistic regression model.

Congratulations! You've completed this lab. However, you may not notice a green check mark next to this item on Coursera's platform. Please continue your progress regardless of the check mark. Just click on the "save" icon at the top of this notebook to ensure your work has been logged.